@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root{
   --color-primary: #ec6090;
   --color-dark: #1F2122;
   --color-darkest: #27292A;
   --color-light: #fff;
   --color-muted: #66665A;
   --color-sun: #FFFF00;
   
   --color-bg-body: var(--color-dark);

   --distance-primary: 50px;
   --padding-primary: var(--distance-primary);
   --margin-primary: var(--distance-primary);

   --margin-card: calc(var(--margin-primary) / 2);
   --border-radius-primary: calc(var(--distance-primary) / 2);

   --font-family-primary: 'Poppins', sans-serif;
   --font-weight-normal: 400;
   --font-weight-boldest: 700;
   --font-weight-bold: 900;
}

body{
   font-family: var(--font-family-primary);
   background-color: var(--color-bg-body);
}

a{
   text-decoration-style: none;
}

ul{
   list-style-type: none;
}

